<head>
  <meta charset="UTF-8">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" type="image/png" href="https://cdn.0xcadams.com/favicon-32x32.png">

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">

  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

  {% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}"/>
  {% else %}
  <meta property="og:description" content="{{ site.title | strip_html | strip_newlines | truncate: 160 }}"/>
  {% endif %}

  {% seo %}

  <title>
    {% if page.id == "home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &mdash; {{ site.title }}
    {% endif %}
  </title>
</head>
